
name: mod-build
on:
  push
jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      DL_URL: https://github.com/KELETU66666/Thaumisc/archive/refs/heads/backport.zip
      Pack_Name: backport
      Open_Pack_Name: Thaumisc-backport
    steps:
    - uses: actions/checkout@v2
    - name: Setup Java JDK 11
      uses: actions/setup-java@v3.3.0
      with: 
        java-version: '11'
        distribution: 'temurin'
        java-package: jdk
    - name: Setup Java JDK 18
      uses: actions/setup-java@v3.3.0
      with: 
        java-version: '18'
        distribution: 'temurin'
        java-package: jdk
    - name: Setup Java JDK 8
      uses: actions/setup-java@v3.3.0
      with: 
        java-version: '8'
        distribution: 'temurin'
        java-package: jdk
    - run: 
        sh ./start.sh
    - name : Upload packages
      uses: actions/upload-artifact@master
      if: always()
      with:
        name: output
        path: /opt/libs/
