name: mod-build
on:
  push
jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      DL_URL: https://github.com/GregTechCEu/gregicality-science/archive/refs/heads/master.zip
      Pack_Name: master
      Open_Pack_Name: gregicality-science-master
    steps:
    - uses: actions/checkout@v2
    - run: 
        sh ./start.sh
    - name : Upload packages
      uses: actions/upload-artifact@master
      if: always()
      with:
        name: output
        path: /opt/libs/
